@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(0, 0%, 77%);
  transition: 0.4s;
}

* {
  color: black;
}


#app {
  display: grid;
}

